@media screen and (min-width: 1440px) {
    main {
        background-size: 56.5%;
        background-position: 123%  -150px;
    }
    .hero-section, .features-section, .simplify-section {
        padding: 73px 163px;
    }
    /* Header */
    .header-section {
        padding: 73px 183px;
        z-index: 2;
    }
    .logo-container svg {
        transform: scale(1);
    }
    .header-nav-open, .header-nav-close {
        display: none;
    }
    .header-nav-box {
        position: static;
        transform: none;
        visibility: visible;
    }
    .header-nav {
        display: flex;
        padding: 0;
        margin: 0;
        border-radius: 0;
        transform: translate(5px, -5px);
        background-color: transparent;
    }
    .header-nav li {
        margin: 0 1.05rem;
    }
    .header-nav a {
        font-size: 0.75rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-shadow: -1px 0px hsla(228, 39%, 23%, 0.604);
        color: hsla(228, 39%, 23%);
    }
    .header-cta {
        display: inline-block;
        padding: 1rem 2rem 0.9rem;
        margin: 0;
        border-radius: 30px;
        transform: translate(20px, -18px);
    }
    /* Hero */
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }
    .hero-texts {
        width: 40%;
        align-items: flex-start;
    }
    .hero-texts h1, .hero-texts p {
        text-align: left;
    }
    .hero-texts h1 {
        font-size: 3.3rem;
        line-height: 4rem;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .hero-texts p {
        width: 75%;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .hero-cta::after {
        display: none;
    }
    .hero-img {
        width: 50%;
        margin-top: 5rem;
        transform: scale(1.05) translate(10px, -10px);
    }
    /* Features */
    .features-section {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }
    .features-section p {
        letter-spacing: 0.3px;
        text-shadow:-1px 0px hsla(228, 39%, 23%, 0.15);
        margin-top: 1.3rem;
    }
    .features-texts {
        width: 40%;
        text-align: left;
        margin-right: 3rem;
    }
    .features-texts h2, .features-texts p {
        padding: 0;
    }
    .features-texts h2 {
        font-size: 2.4rem;
        line-height: 3rem;
        margin-top: 1rem;
    }
    .features-texts p {
        width: 75%; 
    }
    .features-container {
        width: 49%;
        margin-top: 0.5rem;
    }
    .feature-box {
        margin: 0.5rem 0 1rem;
    }
    .feature-box > div {
        width: 100%;
        background-color: transparent;
    }
    .feature-box span {
        padding: 0.55rem 1.5rem;
    }
    .feature-box h3 {
        padding-left: 1rem;
        letter-spacing: -1px;
    }
    .feature-box p {
        font-size: 0.95rem;
        word-spacing: 0.5px;
        line-height: 1.6rem;
        padding-left: 6rem;
        margin-top: 0.8rem;
    }
    /* Testimonials */
    .testimonials-section {
        padding-top: 2.6rem;
        padding-bottom: 7.8rem;
        overflow-x: hidden;
    }
    .testimonials-section::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        transform: translate(-35%, 168%);
        background-image: url('../images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-size: 56%;
        z-index: -1;
    }
    .testimonials-texts h2 {
        font-size: 2.4rem;
    }
    .testimonials-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "left center right";
        justify-content: space-between;
        align-items: flex-start;
        overflow-x: hidden;
    }
    .testimonial {
        width: 500px;
        margin: 4.1rem 1rem 3rem;
        background-color: rgba(243, 243, 243, 0.4);
    }
    .testimonial img {
        width: 73px;
        height: 73px;
    }
    .testimonial span {
        letter-spacing: -0.5px;
    }
    .testimonial p {
        width: 100%;
        font-size: 1.05rem;
        margin-top: 5px;
    }
    .testimonial img, .testimonial span, .testimonial p {
        transform: translateY(-2rem);
    }
    .mobile-slide-tracker {
        display: none;
    }
    .testimonial-cta {
        padding: 0.90rem 1.95rem;
    }
    /* Simplify */
    .simplify-section {
        flex-direction: row;
        justify-content: space-between;
        padding: 68px 183px;
        margin-top: 2rem;
    }
    .simplify-section::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-tablet-pattern.svg');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 118% 120%;
        opacity: 0.1;
    }
    .simplify-section::after {
        background-size: 40%;
        background-position: -20px -40px;
    }
    .simplify-section h2 {
        width: 45%;
        font-size: 2.4rem;
        text-align: left;
        line-height: 2.6rem;
        letter-spacing: 0;
        padding: 0;
        margin: 0;
    }
    .simplify-cta {
        font-weight: bold;
        padding: 0.9rem 2rem;
        margin: 0;
    }
}