@media screen and (min-width: 1440px) {
    main {
        background-size: 56.5%;
        background-position: 113%  -90px;
    }
    .hero-section, .features-section, .simplify-section {
        padding: 73px 163px;
    }
    /* Header */
    .header-section {
        padding: 73px 183px;
        z-index: 2;
    }
    .logo-container svg {
        transform: scale(1);
    }
    .header-nav-open, .header-nav-close {
        display: none;
    }
    .header-nav-box {
        position: static;
        transform: none;
        visibility: visible;
    }
    .header-nav {
        display: flex;
        padding: 0;
        margin: 0;
        border-radius: 0;
        transform: translate(5px, -5px);
        background-color: transparent;
    }
    .header-nav li {
        margin: 0 1.05rem;
    }
    .header-nav a {
        font-size: 0.75rem;
        font-weight: 400;
        letter-spacing: 0.2px;
        text-shadow: -1px 0px hsla(228, 39%, 23%, 0.604);
        color: hsla(228, 39%, 23%);
    }
    .header-cta {
        display: inline-block;
        padding: 1rem 2rem 0.9rem;
        margin: 0;
        border-radius: 30px;
        transform: translate(20px, -18px);
    }
    /* Hero */
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }
    .hero-texts {
        width: 40%;
        align-items: flex-start;
    }
    .hero-texts h1, .hero-texts p {
        text-align: left;
    }
    .hero-texts h1 {
        font-size: 3.3rem;
        line-height: 4rem;
        padding-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .hero-texts p {
        width: 75%;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .hero-img {
        width: 50%;
        margin-top: 5rem;
        transform: scale(1.05) translate(10px, -10px);
    }
}